/*
 * ImageHover.css - Demo Page
 * Author: Ciarán Walsh

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 */
@import url(http://fonts.googleapis.com/css?family=Roboto);
body {


}
hr {
  margin-top: 2em;
  background-color: #ddd;
  border: none;
  height: 1px;
}
.sep {
  color: #ddd;
  margin: 0 4px;
}


.main {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
img {
  border: none;
}
small {
  display: block;
}
p {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 15px;
}
.sup {
  vertical-align: super;
  margin-left: -1em;
  padding: .3em .5em;
  line-height: 100%;
  font-size: .22em;
  border: #eee solid 1px;
  border-radius: 4px;
  color: inherit;
  background-color: #fff;
}
.sup:hover {
  background: #eee;
}
a {
  color:  #00968786;
  text-decoration: none;
}

.intro,
.download {
  padding: 0;
  box-sizing: border-box;
}
.intro {
  max-width: 66%;
  margin: 0;
  display: inline-block;
  padding-right: 20px;
}
.download {
  display: inline-block;
  text-align: center;
  width: 33%;
  padding: 0 20px;
  vertical-align: top;
}
.download a.download-btn {
  background-color: #3d8bd54e;
  width: 100%;
  padding: 12px 0;
  display: block;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.download a.download-btn:hover {
  background-color: #3d8bd54e;
}
.download p.version {
  margin: 10px 0;
}
.markup {
  margin: 3em 0;
}
.effects {
  margin: 3em 0;
}



pre.prettyprint {
  background-color: #eee;
  padding: 20px 30px !important;
  border: none !important;
  margin: 30px 0;
}